<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer__contacts">
        <div class="footer__logo">
          <img src="assets/icons/itpark-logo-white-solid.png" alt="it-park logo">
        </div>
        <div class="footer__contacts__info mt-4">
          <p>
            <a target="_blank" href="https://g.page/IT-Park-UZ?share">{{ 'footer.address' | translate }}</a>
          </p>
          <p>
            <a href="mailto:itpark@gmail.com">itpark@gmail.com</a>
          </p>
          <p>
            <a href="tel:+998712091199">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
              +998 71 209 11 99
            </a>
          </p>
        </div>

      </div>
      <div class="col-lg-5">
        <div class="footer__menu">
          <ul>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/startups" class="hover-a">
                {{ 'footer.startups' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/residents" class="hover-a">
                {{ 'footer.residents' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/about/hr" class="hover-a">
                {{ 'footer.careers' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/infrastructure" class="hover-a">
                {{ 'footer.infrastructure' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/shop" class="hover-a">
                {{ 'footer.shop' | translate }}
            </a></li>
          </ul>
          <ul>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/news" class="hover-a">
                {{ 'footer.news' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/news/residents" class="hover-a">
                {{ 'footer.residentsNews' | translate }}
            </a></li>
            <li><a target="_blank" href="https://it-park.uz/uz/itpark/about" class="hover-a">
                {{ 'footer.about' | translate }}
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer__links">
          <div>
            <p class="fw-bold"><small>
                {{ 'footer.weOnSocialNetworks' | translate }}
            </small></p>
            <ul>
              <li><a target="_blank" href="https://t.me/itpark_uz" class="footer__links__item">
                <img src="assets/icons/telegram-icon-white-solid.png" alt="telegram icon">
              </a></li>
              <li><a target="_blank" href="https://www.instagram.com/itpark_uz/" class="footer__links__item">
                <img src="assets/icons/instagram-icon-white.png" alt="instagram icon">
              </a></li>
              <li><a target="_blank" href="https://www.facebook.com/itparkuzb/" class="footer__links__item">
                <img class="facebook" src="assets/icons/facebook-icon-white-solid.png" alt="facebook icon">
              </a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCZWqg4oxo2PyLGuQifUbeqg" class="footer__links__item">
                <img src="assets/icons/youtube-icon-white-solid.png" alt="youtube icon">
              </a></li>
              <li><a target="_blank" href="https://github.com/random-jordan/education-itpark" class="footer__links__item">
                <img src="assets/icons/github.svg" alt="github icon">
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer__copyright">
      <p>
        <small>© 2021 IT PARK. All rights reserved.</small>
      </p>
    </div>
  </div>
</footer>
