.course {
  padding: 27px 60px 27px 30px;
  background-color: #F4F4F4;
  border-radius: 10px;
  height: 100%;

  .left-icon {
    margin-top: 2px;
  }
  .skill {
    display: inline-block;
    background-color: var(--itpark);
    color: white;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px 10px;
  }
}
